<section class='section'>
  <div class='container is-max-desktop'>
    <div class='columns is-centered'>
      <div class='column is-half'>
        <h1>Welcome {{user.username}}</h1>

        <p>
          Your email: {{user.email}}
          Your Poochie Pal name: {{user.pet_name}}
        </p>
      </div>
    </div>
  </div>
</section>