<section class='hero is-medium is-secondary'>
  <div class='hero-body purple-pug'>
    <div class='container'>
      <div class='columns'>
        <div class='column is-8-desktop is-offset-2-desktop'>

          <h1 class='title is-2 is-spaced'>
            Missing a Poochie Pal in your life?
          </h1>
          <h2 class='subtitle is-4'>
            Don't worry — we've got you covered here at
            <strong>Poochie Pals!</strong>
            <br />
            Register with us and
            <strong>get puppy cuddles!</strong>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container is-max-desktop'>
    <div class='columns is-centered'>
      <div class='column is-half'>
        <aside class='menu'>
          <p class='menu-label'>
            General
          </p>
          <ul class='menu-list'>
            <li><a>Why Choose Poochie Pals?</a></li>
            <li><a>About Us</a></li>
          </ul>
          <p class='menu-label'>
            How It Works
          </p>
          <ul class='menu-list'>
            <li><a>For Poochie Owners</a>
              <ul>
                <li><a>Listing your pet</a></li>
                <li><a>Connecting with Pals</a></li>
                <li><a>Arranging Meetups</a></li>
                <li><a>Sharing the Joy</a></li>
              </ul>
            </li>
            <li>
              <a class='is-active'>For Poochie Pals</a>
              <ul>
                <li><a>Creating your Page</a></li>
                <li><a>Browsing Profiles</a></li>
                <li><a>Connecting with Owners</a></li>
                <li><a>Experiencing the Love!</a></li>
              </ul>
            </li>
          </ul>
          <p class='menu-label'>
            Safety & Insurance
          </p>
          <ul class='menu-list'>
            <li><a>Insurance Coverage</a></li>
            <li><a>Security Deposits</a></li>
            <li><a>Account Payments</a></li>
          </ul>
        </aside>
      </div>
      <div class='column is-half'>
        <div class='content'>
          <h1>Ready to be a Poochie Pal?</h1>
          <p>Are you ready for a pawsitively amazing experience with adorable dogs? Welcome to Poochie Pals, where dog owners are eager to share their furry friends with fellow dog enthusiasts like you! By creating a personal profile, you open the door to a world of wagging tails and heartwarming connections.</p>
          <h2>Creating your profile</h2>
          <p>With your unique profile, dog owners get to know the responsible, caring, and dog-loving individual you are. Showcase your passion for dogs, your availability, and the type of doggie experiences you can offer. Whether you're looking for a delightful playdate, a weekend adventure, or simply some canine cuddle time, your profile lets owners see what a fantastic companion you'll be to their beloved pooch.</p>
          <h2>Browsing Doggie Profiles</h2>
          <p>Unleash the excitement of discovering furry companions on Poochie Pals! Explore an enchanting collection of doggie profiles from all walks of life. Each profile is filled with wag-worthy information, giving you insights into their personalities, preferences, and more. Whether you're looking for a playful playdate or a loyal weekend buddy, you're sure to find a furry match made in doggie heaven. Start your tail-wagging adventure today and browse through the cutest canine profiles ever!</p>
          <h2>Connecting with Owners</h2>
          <p>Poochie Pals is where bonds are formed and new friendships blossom. When you spot a doggie profile that tugs at your heartstrings, don't hesitate to reach out to the loving owners. Strike up a friendly conversation, exchange tail-wagging tales, and discuss potential meetups. Connecting with owners is the first step towards creating lasting memories with a new furry friend. Embrace the spirit of community and the joy of shared doggie love!</p>
          <h2>Experiencing the Love!</h2>
          <p>Congratulations! You've found the perfect match on Poochie Pals, and now it's time for a tail-wagging adventure. Experience the love, loyalty, and companionship that only a dog can provide. Whether you're going on exhilarating walks, sharing cuddle-filled moments, or enjoying playful games, the love between you and your newfound doggie friend will only grow stronger with each passing day. Embrace the unconditional love and boundless happiness that comes with sharing your life with a lovable canine companion! Start experiencing the love today on Poochie Pals!</p>
      </div>
    </div>
  </div>
</section>