<section class='hero is-medium is-primary'>
  <div class='hero-body yellow-pug'>
    <div class='container'>
      <div class='columns'>
        <div class='column is-8-desktop is-offset-2-desktop'>

          <h1 class='title is-2 is-spaced'>
            Missing a Poochie Pal in your life?
          </h1>
          <h2 class='subtitle is-4'>
            Don't worry — we've got you covered here at
            <strong>Poochie Pals!</strong>
            <br />
            Register with us and
            <strong>get puppy cuddles!</strong>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container is-max-desktop'>
    <div class='columns is-centered'>
      <div class='column is-half'>
        <div class='content has-text-centered'>
          <span class="emoji-title is-size-3">I have a Dog!</span>
          <span class="emoji">&#128054;</span>
          <div class='block'>
            Find a trusted local dog lover to take care of your dog when you
            can't. They'll treat your dog like family.
          </div>
          <div class='buttons is-centered'>
            <a class='button is-primary' href='/sign-up'>
              <strong>Share your Poochie Pal!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class='column is-half'>
        <div class='content has-text-centered'>
          <span class="emoji-title is-size-3">I need a Dog!</span>
          <span class="emoji">&#129530;</span>
          <div class='block'>
            Fill the dog void in your life by spending time with one and helping out Owners at the same time. It's a win-win!
          </div>
          <div class='buttons is-centered'>
            <a class='button is-primary' href='/sign-up'>
              <strong>Find a Poochie Pal!</strong>
            </a>
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container is-max-desktop'>
    <div class='content'>
    <h3>Latest looking for a pal</h3>
    <p>These pets are looking for someone to take care of them soon!</p>

    <div class='columns is-centered'>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img1.jpg" />
      </div>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img2.jpg" />
      </div>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img3.jpg" />
      </div>
    </div>

    <div class='columns is-centered'>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img4.jpg" />
      </div>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img5.jpg" />
      </div>
      <div class='column is-one-third'>
        <img src="https://makers-cloud-poochie-pals-assets.s3.eu-west-2.amazonaws.com/img6.jpg" />
      </div>
    </div>
      
    </div>
  </div>
</section>