<section class='section'>
  <div class='container is-max-desktop'>
    <div class='columns is-centered'>
      <div class='column is-two-thirds'>
        <h3 class='title is-4 is-spaced bd-anchor-title'>Sign in to your Account</h3>
        <div class='content'>
        </div>

        <form action="/sign-in" method="post" >
          <div class='field'>
            <label class='label'>Email</label>
            <div class='control'>
              <input
                required
                name="email"
                class='input'
                type='email'
                placeholder='eg.: dog-lover@poochiepals.com'
              />
            </div>
          </div>

          <div class='field'>
            <label class='label'>Password</label>
            <div class='control'>
              <input
                required
                name="password"
                class='input'
                type='password'
              />
            </div>
          </div>

          <div class='field is-grouped'>
            <div class='control'>
              <button class='button is-primary'>Submit</button>
            </div>
            <div class='control'>
              <button class='button is-link is-light'>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>